body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.w-70 {
  width: 70%;
}

.w-70 {
  width: 70%;
}

.color-main {
  color: #6C63FF;
}

.bg-color-main {
  background-color: #6C63FF !important;
}

.fill-main {
  fill: #6C63FF !important;
}

.icon {
	/* display: inline-block; */
  color: #444444;
  width: 20px;
  height: 20px;
  padding-bottom: 5px;
  margin-right: 3px;
  /* width: 1em; */
	/* height: 1em; */
	fill: currentColor;
}
.icon-home {
  /* Using currentColor above lets
  us use `color` for changing the color
  of our icons: */
  color: #6C63FF;
  
  /* The width and height of the SVG
  was previously set to 1em.
  This allows us to use `font-size`
  to change the size of our icon: */
  /* font-size: px; */
}

.svg-icon {
  width: 0;
  height: 0;
}

.vh-100 {
  height: 100vh;
}

.nav-link {
  color: black;
}

.list-none {
  list-style: none;
}

.big-ass-text {
  padding-top: 80px;
  font-size: 100px;
}